<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">

    <f:flashMessages />

    <f:form.validationResults>
        <f:if condition="{validationResults.flattenedErrors}">
            <ul class="typo3-messages">
                <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
                    <f:for each="{errors}" as="error">
                        <li class="alert alert-danger">
                            <f:translate key="{propertyPath}">[{propertyPath}]</f:translate>: {error.message}
                        </li>
                    </f:for>
                </f:for>
            </ul>
        </f:if>
    </f:form.validationResults>

    <f:form action="{action}" class="newsletter-form" objectName="abo" object="{abo}">
        <f:form.textfield type="email" class="form-control" property="email" />
        <button class="btn btn-secondary" type="submit"><f:translate key="submit">[submit]</f:translate></button>
        <f:link.action action="index" additionalParams="{tx_abo_form: {nextAction: 'unsubscribe'}}">
            <f:translate key="unsubscribe">[unsubscribe]</f:translate>
        </f:link.action>
    </f:form>
</f:section>

</html>